.DS_Store
node_modules/
dist/
npm-debug.log
yarn-error.log



###########
## junk folders
###########

src/bkp/
src/bkp 2/
#################
## Images
#################

*.jpg
*.jpeg
*.png
*.gif
*.psd
*.ai


